/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2017, 12:51:09 AM
    Author     : Patricia Sittikul
*/
/*----Global Styles----*/
body {
    font-family: "Ubuntu", sans-serif;
}

.required {
    font-weight: bold;
}

#header {
    width:25%;
    margin-bottom: 5%;
}
#header img {
    width: 75%;
    margin: 10%;
}

#sidebar {
    width: 25%;
    float: left;
    height: 100%;
    font-family: Century;
}

#sidebar ul {
    list-style-type: none;
}

.sidebarOption {
    margin-bottom: 1.5%;
    background-color: #006bb5;
    color: white;
    padding: 2%;
    width: 50%;
}

.sidebarOption:hover {
    background-color: #808284;
}

/*----Form Styles----*/
#formSection {
    width: 75%;
    float: right;
    padding-bottom: 15%;
}
#employeeForm {
    width: 48%;
    float: left;
}

#divider {
    width: 3%;
    height: 75%;
    background-color: black;
}

#partnerForm {
    width: 48%;
    height: 50%;
    float: right;
}

#servicesSec{
    width: 100%;
    float: left;
    margin-top: 5px;
}

#servicesSec tr {
    color: white;
}

#servicesSec td {
    padding: .75%;
}

.serviceRowOdd {
    background-color: #006bb5;
}

.serviceRowEven {
    background-color: #808284;
}

#deleteService {
    text-align: right;
}


input {
    margin: .5%;
}

#saveButton {
    background-color: #006bb5;
    color: white;
    width: 25%;
    padding: 1%;
}

#saveButton:hover {
    background-color: #808284;
}

#addService {
    background-color: #006bb5;
    color: white;
    padding: 1%;
}

#addService:hover {
    background-color: #808284;
}
